<%- include("../_header") -%>
    <h1>List of books (<%= model.length %>)</h1>

    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Comments</th>
                    <th class="d-print-none">
                        <a class="btn btn-sm btn-success" href="/books/add">Add</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (const book of model) { %>
                <tr>
                    <td><%= book.Title %></td>
                    <td><%= book.Author %></td>
                    <td><%= book.Comments %></td>
                    <td class="d-print-none">
                        <a class="btn btn-sm btn-warning" href="/books/edit/<%= book.Book_ID %>">Edit</a>
                        <a class="btn btn-sm btn-danger delete-button" href="/books/delete/<%= book.Book_ID %>">Delete</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>


<%- include("../_footer") -%>
